# Mac OS X Desktop Services Store
.DS_Store

# og
log/apache/*
log/mysql/*
log/php/*
log/nginx/*

# www
www/pma

# database
ib*
*.opt
database/*.cnf
database/**/*.frm
database/**/*.ibd
database/mysql/*
database/performance_schema/*
