# Mac OS X Desktop Services Store
.DS_Store

# og
log/apache/*
log/mysql/*
log/php/*
log/nginx/*

# www
www/backend/*
www/pma/*
!www/pma/config.inc.php
www/vendor/*
!www/vendor/.gitkeep
www/browscap.ini

# database
ib*
*.opt
database/*.cnf
database/*.log
database/aria_lo*
database/**/*.frm
database/**/*.ibd
database/mysql/*
database/performance_schema/*

conf/nginx/letsencrypt/*f3cms*.pem

gene-panel-v2
