[submodule "www/f3cms"]
	path = www/f3cms
	url = https://github.com/trevorpao/f3cms.git
[submodule "operonjs"]
	path = operonjs
	url = https://github.com/trevorpao/operon.git
	branch = f3cms
[submodule "gene-panel"]
	path = gene-panel
	url = https://github.com/trevorpao/gene-panel.git
	branch = f3cms
